@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg");
    background-size:100vmax;
    color: #d33535;
    font-family:Libre Franklin,sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}